<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>

  <%= stylesheet_link_tag 'fish', 'uni-form', 'default.uni-form' %>
  <%= javascript_include_tag 'jquery.min', 'rails', 'uni-form.jquery' %>
  <%= csrf_meta_tag %>
  <title><%= @page_title || "Fisher House Foundation" %></title>
</head>
<body>

<%= yield %>

</body>
</html>
